<!--1. Extend admin.html-->
{% extends 'admin/admin.html' %}
<!--2. Import pagination query page-->
{% import 'ui/admin_page.html' as pg %}
<!--3. Main content of the tag list-->
{% block content %}
    <!--3.1 Display breadcrumb navigation-->
    <section class="content-header">
        <h1>Starry Sky Movie Management System | Backend</h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Permission Management
                </a>
            </li>
            <li>
                Permission List
            </li>
        </ol>
    </section>
    <!--3.2 Query list data-->
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box header">
                        <h3 class="box-title">Permission List</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width:150px">
                                <input type="text" name="table_search"
                                class="form-control pull-right"
                                placeholder="Enter keywords">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Display paginated list-->
                    <div class="box-body table-responsive no-padding">
                        <!--Success popup-->
                        {% for msg in get_flashed_messages(category_filter=['ok']) %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close"
                                        data-dismiss="alert" aria-hidden="true">
                                </button>
                                <h4>
                                    <i class="icon fa fa-check"></i> Operation Successful
                                </h4>
                                {{ msg }}
                            </div>
                        {% endfor %}
                        <!--Failure popup-->
                        {% for msg in get_flashed_messages(category_filter=['err']) %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close"
                                        data-dismiss="alert" aria-hidden="true">
                                </button>
                                <h4>
                                    <i class="icon fa fa-check"></i> Operation Failed
                                </h4>
                                {{ msg }}
                            </div>
                        {% endfor %}
                        <!--Table display-->
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td>Permission Name</td>
                                    <td>Permission Path</td>
                                    <td>Added Time</td>
                                </tr>
                                {% for v in page_data.items %}
                                    <tr>
                                        <td>{{ v.id }}</td>
                                        <td>{{ v.name }}</td>
                                        <td>{{ v.url }}</td>
                                        <td>{{ v.addtime }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Pagination display-->
                <div class="box-footer clearfix">
                    {{ pg.page(page_data, 'admin.auth_list') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!--3. JS loading area-->
{% block js %}
    <script>
        $(document).ready(function (){
            $("#g-9").addClass("active");
            $("#g-9-2").addClass("active");
        });
    </script>
{% endblock %}
