<!--1. Extend admin.html-->
{% extends 'admin/admin.html' %}

<!--2. CSS Styles-->
{% block css %}
    <style>
        * {font-family:"Microsoft YaHei"}
        .table>tbody>tr>td {
            vertical-align: middle;
            text-align: left;
        }
        .td_bd{
            width: 100px;
            font-weight: bold;
        }
    </style>
{% endblock %}
<!--2. Set up main content-->
{% block content %}
    <!--Display settings-->
    <section class="content-header">
        <h1>Starry Sky Movie Management System | Admin</h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Member Management
                </a>
            </li>
            <li class="active">
                Member Details
            </li>
        </oL>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Member Details</h3>
                    </div>
                    <div class = "box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td class="td_bd">ID:</td>
                                    <td>{{ user.id }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">Name:</td>
                                    <td>{{ user.name }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">Email:</td>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">Phone:</td>
                                    <td>{{ user.phone }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">Profile Picture:</td>
                                    <td>
                                        {% if user.face %}
                                            <img alt="50*50"
                                                 src="{{ url_for('static',
                                                    filename = 'uploads/'+user.face) }}"
                                                 class="img-circle"
                                                 style="border: 1px solid #adcdef;width:50px">
                                        {% else %}
                                            <img alt="50*50" data-src = "holder.js/60*50"
                                                 class="img-circle"
                                                 style="border: 1px solid #adcdef;width:50px">
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">Registration Time:</td>
                                    <td>{{ user.addtime }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">Unique Identifier:</td>
                                    <td>{{ user.uuid }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">Bio:</td>
                                    <td>{{ user.info }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                 </div>
            </div>
        </div>
    </section>
{% endblock %}
<!--4. JS loading area-->
{% block js %}
    <script>
        $(document).ready(function (){
            $("#g-5").addClass("active");
            $("#g-5-1").addClass("active");
        })
</script>
{% endblock %}
